on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main
name: deploy-waxz/waxz/cf-mqtt-broker

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@master
        with:
          repository: waxz/waxz/cf-mqtt-broker
          path: ./repo
          submodules: recursive

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          # Rust toolchain specification -- see https://rust-lang.github.io/rustup/concepts/toolchains.html#toolchain-specification
          toolchain: 
          # Comma-separated list of target triples to install for this toolchain
          targets: # optional
          # Alias for `targets`
          target: # optional
          # Comma-separated list of components to be additionally installed
          components: # optional
          
      - run: rustup toolchain install stable --profile minimal
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.8.2
  
      - name: Build Rust
        shell: bash
        run: |
          cd ./repo
          cargo install worker-build
          worker-build build --release
          
        env:
          GEMINI_CLI_KV_ID: ${{ secrets.GEMINI_CLI_KV_ID }}

      - name: Deploy Workers
        uses: cloudflare/wrangler-action@v3
        with:
          workingDirectory: "./repo"
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: |
            deploy -c wrangler.workers.rust.toml
      # - name: Change wrangler configure file
      #   shell: bash
      #   run: |
      #     # cd ./repo         
      #     # sed -i "s#main.*#pages_build_output_dir = \"./cf\"#" ./wrangler.toml
      #     # sed -i '/# wrangler.toml (wrangler v3.88.0\^)/d; /\[observability.logs\]/{N;d;}' wrangler.toml
          
      # - name: Deploy Pages
      #   uses: cloudflare/wrangler-action@v3
      #   with:
      #     workingDirectory: "./repo"
      #     apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      #     accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      #     command: |
      #       pages deploy ./cf --project-name gemini-cli-worker
